#Ignore Jetbrains rider files
Exam-2018/.idea/
 
#Ignore weird mac files
Exam-2018/.DS_STORE
 
#Ignore rider build files
Exam-2018/*/obj/
Exam-2018/*/bin/
 
#Ignore OpenTK package
Exam-2018/packages/
Exam-2018/*/packages/OpenTK2.0.0/
Exam-2018/*/packages/OpenTK.2.0.0/

#Ignore some weird rider solution file
Exam-2018/Exam-2018.sln.DotSettings.user